{% extends "cs50_finalproject/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block content %}
    <div class="card col-12 col-sm-6 col-md-6 col-lg-4 custom-sm-mt custom-mt-login">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Reset password</button>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
