{% extends "cs50_finalproject/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Sign up{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="card col-12 col-sm-8 col-md-8 col-lg-7 custom-sm-mt custom-mt-register">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign up</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
        </form>
        <div class="border-top mt-1">
          <small>Already have an account?<a class="ml-2" href="{% url 'login' %}">Login</a></small>
        </div>
      </div>
    </div>
{% endblock content %}
