{% extends "cs50_finalproject/base.html" %}
{% load static %}
{% block title %}Words List{% endblock %}

{% block content %}
  {% for object in object_list %}
  <div class="mt-3">
    <div class="col-12 col-md-11 col-lg-6 m-auto">
      {% if object.user == user %}
        <a href="{% url 'word-update' object.pk %}"><button class="btn btn-secondary btn-sm" type="submit">Edit</button></a>
        <a href="{% url 'word-delete' object.pk %}"><button class="btn btn-danger btn-sm" type="submit">Delete</button></a>
      {% endif %}
      <div class="card text-center">
          <div class="card-header">
              {{ object.word }} : {{ object.meaning }}
          </div>
          {% if object.sentence %}
          <div class="card-body">
            <p class="card-text">{{ object.sentence }}.</p>
          </div>
          {% endif %}
          {% if object.refrence %}
          <div class="card-footer text-muted">
            {{ object.refrence }}
          </div>
          {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
    {% if is_paginated %}
    <div class="col-12 col-md-11 col-lg-6 m-auto">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
    </div>
    {% endif %}
{% endblock content %}
